body {
  background-color: #1f1e1e; 
  color: #ffffff;           
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a:link {
  color: #ffa500; 
}
a:visited {
  color: #aa00ff; 
}
a:hover {
  color: #00ff00; 
}
a:active {
  color: #ff0000; 
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

ol, ul, dl {
  display: inline-block;
  text-align: left;
  margin: 20px auto;
  padding-left: 20px;
}

ol ol {
  margin-left: 30px; 
  padding-left: 0;
}

ol > li, ul > li {
  margin-bottom: 10px;
}

table {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
}
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
